/* #inicio de estilos cabecera */
.nav-menu{
    display: inline-block;
    background: #00909e;
    color: #dae1e7;
    padding: 9px 30px;
    text-decoration: none;
    border-radius: 20px;
    font-size: larger;
}
.nav-menu:hover{
    color: #f6fbff;
    text-decoration: underline;

}

.boton-menu:hover{
    background: #00b5c5;
}
.nav-header{
    background: #00909e;
    display:flex;
    justify-content: flex-end;
    border: 1.5px solid #f6fbff;
    border-radius: 20px;
    padding: 9px 30px;
}
.boton-menu{
    background: #00909e;
    padding: 10px 0;
    color: #dae1e7;
    border-radius: 30px;
    font-size: larger;
    display: none;
}
/* #FIN DE ESTILOS DE CABECERA */

body {
    background-color: rgb(20, 20, 20);
    color: #dae1e7;
    font-family: 'Averia Serif Libre', cursive;
  }
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}
h2{
    font-size: 26px;
}
@media (max-width: 700px) {
   .nav-header{
    flex-direction: column;
    background: rgb(20, 20, 20);
    border: 1.5px solid  rgb(20, 20, 20);
   } 
   .nav-menu{
       margin: 10px 0;
   }
   .boton-menu{
       display: inline-block;

   }
   .ocultamenu{
       display: none;
   }
   .nav-menu:hover{
       text-decoration: none; 
       border: 1.5px solid  #f6fbff;
   }
   h1{
    font-size: 30px;
   }
   h2{
    font-size: 20px;
   }
   .img-devops{
     width: 390px;
   }
}

